body{
  background-color: lightgray;
}

.setup-container{
  padding: 2%;
  margin: 5%;
  background-color: cadetblue;
  color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
}

.col-md-4 {
  padding-left: 0px;
}

.col-md-2 {
  padding-left: 0px;
}

.btn-primary{
  background-color: darkorange;
  border-color: floralwhite;
}

.btn-primary:hover {
  background-color: #c36c01;
  border-color: floralwhite;
}

.btn-secondary {
  background-color: lightcoral;
  border-color: floralwhite;
}

.btn-secondary:hover {
  color: white;
  background-color: #c16464;
  border-color: floralwhite;
}