body{
  background-color: lightgray;
}

.title {
  color: white;
}

.container {
  padding-top: 15px;
}

.setup-container{
  padding: 2%;
  margin: 5%;
  background-color: cadetblue;
  color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 10px;
}

.payroll-container {
  background-color: cadetblue;
  /* min-height: 100vh; */
  padding: 15px;
  border-radius: 3px;
}

.list-group {
  max-height: 21.5em;
  overflow-y: scroll;
  padding-bottom: 0px;
  padding-right: 1px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}


.newBtn {
  float: left;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.calculate {
  padding-left:0px;
}

.employee-container {
  padding-right:5px;
}
.employee-details {
  min-height: 21.5em;
  background-color: white;
  border-radius: 3px;
  margin-right: 1px;
}

.paycheck-details {
  min-height: 21.5em;
  /* margin-left: 15px; */
  padding-top: 10px;
  background-color: white;
  border-radius: 3px;
}

.calCol {
  padding-right: 0px;
}

.calcBtn {
  float: right;
  color: white;
}

.hours {
  margin-bottom: 15px;
  padding-left: 0px;
}

.numbers {
  padding-left: 0px;
  text-align: right;
}

.fields {
  padding-left: 0px;
}

.col-md-9 {
  padding-left: 0px;
}


.btn-primary{
  background-color: darkorange;
  border-color: floralwhite;
}

.btn-primary:hover {
  background-color: #c36c01;
  border-color: floralwhite;
}

.btn-secondary {
  background-color: lightcoral;
  border-color: floralwhite;
}

.btn-secondary:hover {
  color: white;
  background-color: #c16464;
  border-color: floralwhite;
}